.sidebar{
  width: 20%;
}

.feed-avatar{
  flex-basis: 20%;
}

.post-body{
  flex-basis: 80%;
}

.feed-avatar-modal{
  width:30%;
}

.image-input{
  display:none
}

.small-text{
  font-size: 0.75rem
}

.accounts-suggestion{
  width: 25%
}