.feed-body{
    background-color: rgb(243, 242, 242)
}

.sidebar{
    width: 20%;
}

.feed-avatar{
    width:20%;
}

.image-input{
    display:none
}

.small-text{
    font-size: 0.75rem
}

.accounts-suggestion{
    width: 25%
}